*{
    padding: 0;
    margin: 0;
}
.fixed {
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__container {
    background-color: #131921;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    height: 70px; 
    width: 100%;
}

.logo__container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}
.logo__container img{
    width: 80%;
    padding-top: 5px;
    margin-left: 20px;
    vertical-align: middle;
}

.header__delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-weight: bold;
    padding: 5px;
}
.header__delivery p {
    font-size: 10px;
}

.header__search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    flex: 1;
}

.header__search select,.header__search input {
    padding: 10px;
    font-weight: bold;
    outline: 1px solid white;
}

.header__search select {
    border: none;
}
.header__search input {
    border: 1px solid white;
    width: 100%;
    margin-right: -2px;
}
.header__search svg {
    padding:  7px;
    background: #febd69;
    color: #1a1a1a;
}
.header__search svg:hover {
    background-color: #d49644;
}
.header__search:focus-within {
    border: 2px solid rgb(235, 161,173);
}
.header__orderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    gap: 10px;
}
.header__orderContainer a {
    text-decoration: none;
    color: white;
}
.header__orderContainer p{
    font-size: 15px;
}

.header__language {
    width: 100px;
    display: flex;
    padding: 10px;
}

.header__language select {
    background-color: #1a1a1a;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.header__language img {
    width: 40%;
}

.header__cart {
    position: relative;
    padding-right: 20px;
}

.header__cart span {
    position: absolute;
    font-weight:  bold;
    top: -6px;
    font-size: 20px;
    background-color: #1a1a1a;
    left: 14px;
    color: orange;
}

.header__orderContainer a:hover,.header__delivery:hover,.lower__container ul li:hover,.logo__container a:hover {
    border: 1px solid white;
    border-radius: 3px;
}
.lower__container {
    background-color: #232f3e;
    color: white;
    padding-left: 20px;
}
.lower__container ul {
    display: flex;
    list-style: none;
    gap: 5px;
}
.lower__container ul li {
    padding: 8px;
    font-size: 20px;
}
.lower__container ul li:first-child {
    display: flex;
    gap: 2px;
    align-items: center;
}
@media screen and (max-width: 700px) {
    .header__container {
        display: flex;
        flex-direction: column !important;
        height: auto;
    }
    .lower__container ul li:not(:first-child) {
        display: none;
    }
    .header__orderContainer {
        display: none;
    }
}